# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/

# ==============================
# Environment / Secrets
# ==============================

.env
.env.*
!.env.example

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Datasets
# ==============================

# Raw datasets can be very large
data/raw/

# Generated/processed datasets
data/processed/

# ==============================
# Trained ML Models
# ==============================

models/

# ==============================
# Logs
# ==============================

*.log
logs/

# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# IDE
# ==============================

.vscode/
.idea/x
